body {
    background-image: url('images/aerial-photography-of-water-beside-forest-during-golden-hour-1144176.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


#projects, #about, #contact{
    background-image: url('images/body-of-water-under-blue-sky-during-sunset-3801066.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}